* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

@import 'variables';

// Components
@import 'components/grid';

// Layouts
@import 'layout/theme';
@import 'layout/footer';
@import 'layout/header';

// Others
@import 'content/home';