@import "layout/theme";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

// Core elements
@import "utils/variables";
@import "utils/utils";
@import "utils/mixins";
@import "utils/functions";

// Components
@import "components/grid";
@import "components/table";
@import "components/button";
@import "components/form";
@import "components/info";

// Layout elements
@import "layout/content";
@import "layout/toolbar";
@import "layout/sidebar";

// Extra styles for page content
@import "content/home";
@import "content/installer";

// Override all styles above with util classes
// ex: .hidden | .flex-center ...
@import "utils/override";