$td-even-bg: #f5f5f5;
$table-border-bg: #1c6ea4;

.table-list-container {
  width: 100%;
  @include flex-col-display(space-between);

  & > .table-list-actions {
    align-self: flex-start;
    @include flex-display(center);
    padding-bottom: 1em;

    & > .list-count-container {
      padding-right: 0.3em;
      margin-right: 0.3em;
      border-right: 1px solid black;
      font-size: 0.9em;
      font-style: italic;
      color: rgb(99, 97, 97);
    }

    & > .list-actions {
      @include flex-display(space-evenly);

      #list-add {
        color: $info-success;
      }

      #list-remove {
        color: $info-danger;
      }

      li {
        margin: 0 0.1em;

        a {
          text-decoration: none;
          display: inline-block;
          padding: 0 0.5em;
          width: 100%;
        }
      }
    }
  }

  & > table.table-list {
    border-collapse: collapse;
    width: 100%;
    // border: 1px solid $table-border-bg;
    border-radius: 5px;
    overflow: hidden;
    // background-color: $bg-secondary;


    thead {
      background-color: $bg-primary-dark;

      th {
        text-align: center;
        padding: 5px 5px;
        color: white;
        height: 3em;

        &.table-list-action {
          width: 3em;

          input {
            margin: 0;
          }
        }
      }
    }

    tbody {
      tr {
        color: rgb(99, 97, 97);
        // background-color: #fff;
        &:hover {
          cursor: pointer;
          color: #111;
          background-color: $td-even-bg;
        }

        &.selected {
          color: #111;
          background-color: $td-even-bg;
        }

        &.remove-animation {
          transition: all 0.5s;
          transform: translateX(-100px);
          opacity: 0;
        }
      }

      td {
        text-align: center;
        padding: 1.5em 1em;
        font-size: 13px;
      }
    }

    tfoot {
      margin-top: 2em;
    }
  }

  & > .table-list-pagination {
    // align-self: flex-end;
    font-size: 0.8em;
    padding-top: 1.5em;

    a {
      border-radius: 0.3em;
      color: black;
      float: left;
      padding: 0.5em 0.8em;
      text-decoration: none;

      &.active {
        background-color: $btn-color-primary;
        color: white;
      }

      &:hover:not(.active) {
        background-color: #ddd;
      }
    }
  }
}
