<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
    <h1 style="text-align: center">Vérifiez votre adresse email pour terminer l'inscription</h1>
    <p style="text-align: center">Veuillez confirmer que {{email}} est votre adresse électronique en cliquant sur le bouton ci-dessous</p>
    <p style="text-align: center">Si vous n'avez pas effectué cette demande, vous pouvez ignorer ce mail.</p>
    <p style="text-align: center">
        <a href="{{link_confirm}}" style="display:inline-block;border:1px solid black;border-radius:.3em;background-color: #2b63ba; color:white; padding:.5em;text-decoration:none">
            Confirmer mon compte
        </a>
    </p>
</body>
</html>