<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
    <h1 style="text-align: center">Vous avez demandé la réinitialisation de votre mot de passe.</h1>
    <p style="text-align: center">Veuillez cliquer sur le lien ci-dessous pour changer votre mot de passe.</p>
    <p style="text-align: center">
        <a href="%link_reset_password%" style="display:inline-block;border:1px solid black;border-radius:.3em;background-color: #2b63ba; color:white; padding:.5em;text-decoration:none">
            Réinitialiser mon mot de passe
        </a>
    </p>
    <p style="text-align: center">Si vous n'avez pas effectué cette demande, vous pouvez ignorer ce mail.</p>
    <p style="text-align: center">Ce lien est valable pour 24 heures, au-delà de ce délai, vous devrez effectuer une nouvelle demande.</p>
</body>
</html>