main.content {
  background-color: $bg-primary;
  margin-left: $sidebar-width;
  padding: 0 1em;
  height: 1200px;

  section.content-header {
    padding: 1em 1.5rem;
    margin: 0 -1em;
    border-bottom: 1px solid #dddddd;
    background-color: $bg-secondary;

    h2 {
      font-weight: 350;
    }
  }

  section.content-body {
    margin-top: 2em;
    padding: 2em 1.5rem;
    background-color: $bg-secondary;
    border: 1px solid #dddddd;
  }
}
