main.content {
  padding-left: $sidebar-width + 10px;
  padding-top: $toolbar-height + 5px;
  background-color: $bg-primary;
  height: 1200px;

  section.content-header {
    padding: 5px 15px;
    @include flex-col-display(flex-start, flex-start);

    #info-box {
      align-self: center;
    }
  }

  section.content-body {
    margin-top: 2em;
  }
}
