$item-height: 2.5em;
$sublist-width: 150px;
$sublist-font-sz: 0.875em;

#sidebar {
  height: 100vh;
  width: $sidebar-width;
  position: fixed;
  left: 0;
  z-index: 1;
  background-color: $bg-primary-dark;
  font-size: 0.875em;
  @include flex-col-display(space-between);

  .top-content {
    background-color: $bg-secondary-dark;
    width: 100%;
    padding: .3em 1.5em .7em 1.5em;
    @include flex-col-display(space-between);

    #logo {
      font-size: 1.5em;
      font-weight: bold;
      flex-basis: 1.5em;
      font-style: italic;
      text-decoration: none;
      color: $color-secondary-dark;
    }

    .user-action {
      width: 100%;
      @include flex-display(space-around);

      & > a {
        font-size: 1.1em;
        color: $color-secondary-dark;
      }
    }
  }

  .sidebar-list {
    width: 100%;
    height: 80%;

    &.bottom {
      height: fit-content;
    }

    @include flex-col-display(flex-start);

    .link-icon {
      margin-left: 1em;
      padding-right: 1.5em;
      width: 16px;
      height: 16px;
    }

    li {
      width: 100%;
      position: relative;

      & > a {
        display: inline-block;
        width: 100%;
        height: $item-height;
        line-height: $item-height;
        text-decoration: none;
        color: $color-primary-dark;

        &:hover {
          background-color: $bg-secondary-dark;
          color: $color-secondary-dark;
          cursor: pointer;
        }
      }

      & > .sidebar-sub-list {
        font-size: $sublist-font-sz;
        display: none;
      }
    }

    & > li.selected {
      background-color: darken($bg-primary-dark, 5);

      a {
        color: $color-secondary-dark;
      }

      & > .sidebar-sub-list {
        display: block;

        .label-sub-item {
          padding-left: 3em;
        }
      }
    }

    & > li:not(.selected):hover > .sidebar-sub-list {
      display: block;
      min-width: $sublist-width;
      position: absolute;
      top: 0;
      left: $sidebar-width - 1px;
      border-left: none;
      border-top-right-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
      background-color: $bg-primary-dark;

      .label-sub-item {
        padding-left: 1em;
      }
    }
  }
}
