#toolbar {
  height: $toolbar-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  border: 1px solid;
  padding: 5px 10px 5px 10px;
  @include flex-display(start);
  background-color: $bg-primary-dark;


  a {
    text-decoration: none;
    color: $color-primary-dark;
  }

  & > a {
    flex-basis: 10%;
    text-align: center;
    display: inline-block;
  }

  #logo {
    font-size: 25px;
    font-weight: bold;
    flex-basis: 150px;
    font-style: italic;
  }

  #toolbar__links {
    flex-basis: 90%;
    height: 100%;
    @include flex-display(space-between);

    #toolbar-links {
      & > ul {
        @include flex-display(space-between);

        li {
          padding: 5px;
        }
      }
    }

    #profile {
      text-align: center;
    }
  }
}
